//Typography
$body-font: "Roboto", sans-serif;
$heading-font: "Poppins", sans-serif;
$print-font: "Roboto Mono", monospace;

//Color
$text: #121053;
$heading-text: #374a5e;
$border: #dee2e6;
$light-1: #e6e9f1;
$light-2: #f4f9fc;

$white: #fff;
$black: #000;
$dark: #222736;
$body: #ebeef6;

$primary: #de222a;
$secondary: #158df7;

$alpha: #606cc4;
$beta: #f2f6ff;
$gamma: #544fff;
$delta: #0dd19d;
$epsilon: #f64e60;
$zeta: #f4bd0e;
$eta: #09c2de;
$theta: #fbf6fd;
$lota: #c2f0ff;
$kappa: #fe491a;
$lambda: #131a55;

// Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
