.t-link {
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &--alpha {
        &:hover {
            color: $alpha;
        }
    }
}
.t-shadow {
    box-shadow: 0 5px 15px rgba($dark, .08);
}
.font-weight-md {
    font-weight: 500;
}
.t-width-max {
    min-width: max-content;
}
.t-min-w-120 {
    min-width: 120px;
}
.t-min-w-160 {
    min-width: 160px;
}
.t-heading-font {
    font-family: $heading-font;
}
.t-h-50 {
    height: 50px;
}
.t-h-80 {
    height: 80px;
}
.t-line-1 {
    line-height: 1;
}