.fk-pos-nav {
    &__list {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            > a {
                background: $epsilon !important;
                color: $white !important;
            }
            .fk-pos-nav__sub {
                display: block;
            }
        }
    }
    a {
        font-size: 13px;
        @include xl-screen {
            font-size: 17px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    &__sub {
        display: none;
        &-list {
            a {
                font-size: 14px;

                &.active {
                    color: $epsilon;
                }
            }
        }
    }
}
