.fk-table {
    
    &__head {
        background: $light-2;
    }
    &__body {
        height: 135px;
        background: $white;
        @include xl-screen {
            height: calc( 100vh - 410px);
        }
    }
}